html,
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: visible;

}

/*HEADER*/

.title {
    background-color: rgb(50, 5, 80);
    background-size: cover;
    height: 11rem;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.mobile-menu {
    height: 100%;
    background-color: rgb(50, 5, 80);
    padding: 5px;
    justify-content: end;
}

.btn {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: rgb(50, 5, 80);
    border: 0;
}

.imagem {
    text-align: center;
}

.imagem img {
    width: 90%;
    height: 40vh;
}

.navList ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    background-color: rgb(7, 60, 90);
    height: 50px;
    margin: 0;
}

.navList a {
    padding: 1rem;
    margin: 0 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 550;
}

@media (min-width: 800px) {

    .navList ul a:hover {
        transition: 300ms;
        background: rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 800px) {

    .title {
        display: flex;
    }

    .btn {
        display: block;
        top: 1;
    }

    #btn-mobile div {
        width: 30px;
        height: 2px;
        background: #fff;
        margin: 5px;
    }

    .navList ul {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 30vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-100%);
        z-index: 1000;
        transition: 500ms;
    }

    ul.active {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        right: 0;
        background-color: rgb(7, 60, 90);
        height: 30vh;
        transform: translateX(0);
        z-index: 1000;
        transition: 500ms;

    }
}